* {
	padding: 0;
	margin: 0;
}
body{
	font-family: 'ProximaNova-Regular';
	color: $white;
}
.container {
	padding: 0 108px;
	margin: 0 auto;
}

ul {
	list-style: none;
}

a{
	text-decoration: none;
}

.menu-bar {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	.logo {
		line-height: 0;
		img{
			width: 100%;
		}
	}
	.main-menu {
		ul {
			display: flex;
			margin-left: -10px;
			li{
				padding: 0 10px;
				a{
					color: $white;
					font-size: 16px;
				}
			}
		}
	}
}

.header {
	position: relative;
	height: 733.38px;
	&__top {
		padding: 10px 0;
		position: absolute;
		z-index: 99;
		top: 0;
		left: 0;
		right: 0;
		background: rgba($black,0.5);
	}
	&__banner {
		// position: relative;
	}
	&__item {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
		animation: slide 12s linear infinite;
		&:nth-of-type(2) {
			animation-delay: 3s;
		}
		&:nth-of-type(3) {
			animation-delay: 6s;
		}
		&:nth-of-type(4) {
			animation-delay: 9s;
		}
	}
	&__image {
		line-height: 0;
		img {
			width: 100%;
		}
	}
	&__name {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		font-size: 40px;
	}
	.direction-left, .direction-right{
		@include border-arrow(15px);		
		position: absolute;
		top: 50%;
		transform: translate(0,-50%);
		z-index: 99;
	}

	.direction-left {
		border-right-color: $red;
		border-left-width: 5px;		
		left: 0;		
		&:hover {
			border-right-color: $silver;
			cursor: pointer;
		}
	}
	.direction-right {
		border-left-color: $red;
		border-right-width: 5px;
		right: 0;
		&:hover {
			border-left-color: $silver;
			cursor: pointer;
		}
	}
	.direction-bottom {
		@include border-arrow(25px);
		border-top-color: $silver;
		border-bottom-width: 10px;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%,0);
		z-index: 99;
		&:hover {
			border-top-color: $red;
			cursor: pointer;
		}
	}
}

@keyframes slide {
	0% { opacity: 0.5; z-index:1;}
	5% { opacity: 1}
	20% { opacity: 1}
	25% {opacity: 0.5; z-index:1}
	25.0001% {z-index: 0; opacity: 0}
	100% { opacity: 0; z-index: 0}
}