* {
	padding: 0;
	margin: 0;
}

body{
	font-family: 'ProximaNova-Regular';
	color: $white;
	font-size: 16px;
}
.container {
	padding: 0 108px;
	margin: 0 auto;
}

ul li {
	list-style: none;
}

a{
	text-decoration: none;
}

.btn {
	display: inline-block;
	border: 2px solid rgba($white,.5);
	padding: 10px 40px;
	text-transform: uppercase;
	color: $white;
	font-weight: bold;
}

.reading {
	cursor: pointer;
}

// menu bar
.menu-bar {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	.logo {
		line-height: 0;

		img{
			width: 100%;
		}
	}

	.main-menu {
		ul {
			display: flex;
			margin-left: -10px;
			li{
				a{
					color: $white;
					font-size: 16px;
					font-weight: bold;
					display: block;
					margin: 0 10px;
				}
			}
		}
	}
}
// header
.header {
	position: relative;
	height: 733.38px;

	&__top {
		padding: 10px 0;
		position: absolute;
		z-index: 99;
		top: 0;
		left: 0;
		right: 0;
		background: rgba($black,0.5);
	}

	&__banner {
		// position: relative;
	}

	&__item {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		opacity: 0;
		animation: slide 12s linear infinite;

		&:first-type {
			opacity: 1;
			z-index: 1;
		}

		&:nth-of-type(2) {
			animation-delay: 3s;
		}

		&:nth-of-type(3) {
			animation-delay: 6s;
		}

		&:nth-of-type(4) {
			animation-delay: 9s;
		}
	}

	&__image {
		line-height: -1;

		img {
			width: 100%;
		}
	}

	&__name {
		position: absolute;		
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		font-size: 40px;
		text-transform: uppercase;
		text-align: center;
	}
	.direction-left,
	.direction-right{
		@include border-arrow(15px);		
		position: absolute;
		top: 50%;
		transform: translate(0,-50%);
		z-index: 99;
	}

	.direction-left {
		border-right-color: $red;
		border-left-width: 5px;		
		left: 0;		
		&:hover {
			border-right-color: $silver;
			cursor: pointer;
		}
	}

	.direction-right {
		border-left-color: $red;
		border-right-width: 5px;
		right: 0;
		&:hover {
			border-left-color: $silver;
			cursor: pointer;
		}
	}

	.direction-bottom {
		@include border-arrow(25px);
		border-top-color: $silver;
		border-bottom-width: 10px;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%,0);
		z-index: 99;

		&:hover {
			border-top-color: $red;
			cursor: pointer;
		}
	}
}

@keyframes slide {
	0% { opacity: 1; z-index: -1}
	5% { opacity: 1;z-index: -1}
	5.001% { opacity: 1; z-index: 1}
	25% { opacity: 1; z-index: 1}
	30% { opacity: 0; z-index: 1}
	30.001% { opacity: 0; z-index: -1}
	100% { opacity: 0; z-index: -1}
}

// footer
.footer {
	&__top{
		padding: 25px 0;
		background: url('../images/bg-footer.jpg');
		background-size: cover;
	}

	&__info {
		padding: 5px 0;
		background: $black;

		p{
			text-align: center;
			font-size: 12px;
		}
	}
}

// box text
.box-text {
	background-color: $silver;
	padding: 40px 0;

	p {
		color: $text-color;

		span {
			color: $link-color;
			font-weight: bold;
			text-transform: uppercase;

			&:after {
				content: "";
				display: inline-block;
				margin-left: 5px;
				@include border-arrow(5px);
				border-left-color: $link-color;	
			}
		}
	}
}

// main box
.main-box {
	margin: 30px 0;
	color: $text-color;
	text-align: center;
	&__list {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		position: relative;
		width: 30%;
		padding: 10px;
		box-sizing: border-box;
	}

	&__image {
		div {
			line-height: 0;

			img {
				height: 145px;
			}
		}
	}

	&__name {
		text-transform: uppercase;
		font-size: 20px;
		font-weight: bold;
		margin: 40px 0 10px;
	}

	&__description {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		background: rgba($gray,.4);
		padding: 20px;
		box-sizing: border-box;
		display: none;
		&__title {
			margin: 20px 0;
			font-size: 20px;
			font-weight: bold;
			text-transform: uppercase;
		}

		&__content {

		}
	}

	&__item:hover &__description {
		display: block;
		cursor: pointer;
	}

	&__item:hover &__image {
		opacity: 0.05;
	}
}
// grid
.grid {
	&__title {
		margin: 40px 0;
		text-align: center;
		color: $black;
		text-transform: uppercase;
	}

	&__list {
		display: flex;
	}

	&__item {
		position: relative;
		box-sizing: border-box;

		&__name {
			position: absolute;
			font-size: 35px;
			font-weight: bold;
			width: 100%;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			padding: 0 30px;
			box-sizing: border-box;
			text-transform: uppercase;
		}
	}

	&__image {
		line-height: 0;

		img {
			width: 100%;
		}
	}

	&__hover {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		box-sizing: border-box;
		padding: 50px 30px;;
		background: rgba($red, .7);
		text-align: center;
		display: none;

		&__name {
			font-size: 35px;
			text-transform: uppercase;
			margin: 30px;
		}

		&__content {

		}

		p {
			margin: 30px 0 40px;
		}
	}

	&__item:hover &__hover {
		display: block;
		cursor: pointer;
	}

	&__item:first-of-type &__hover {
		&__name {
			padding: 0 10px;
			box-sizing: border-box;
		}
	}

	&.grid--space {
		margin: 0 0 30px -10px;
	}

	&.grid--space &__item {
		box-sizing: border-box;
		margin: 0 10px;
		width: 25%;
	}

	&.grid--space &__item:last-of-type {
		margin-right: 0;
	}
}

// box form
.box-form {
	text-align: center;
	padding: 20px 0;
	background: $silver;
	color: $black;

	&__title {
		font-size: 34px;
		font-weight: bold;
		margin: 30px 0;

	}

	&__row {
		margin: 30px 0;

		input {
			outline: none;
			border: none;
		}

		input[type="text"] {
			width: 300px;
			padding: 10px;

			&:first-of-type {
				margin-right: 20px;
			}

			&:last-of-type {
				margin-left: 20px
			}
		}

		input[type="submit"] {
			background: transparent;
			border: 2px solid rgba($black,.8);
			color: $black;
			cursor: pointer;
		}
	}
}