<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="../favicon.ico">
  <title>Normal Styleguide -</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/styles.css">
  <!-- Base js library from drupal -->
  <script src="script/jquery.min.js"></script>
  <script src="script/drupal/jquery.once.js"></script>
  <script src="script/drupal/drupal.js"></script>
  <script src="script/drupal/picturefill.js"></script>
</head>

<body>
 
<div class="project-menu">
    <div class="container">
        <div class="project-menu__title">
           <nav>
              <ul>
                <li>Home > </li>
                <li>Project</li>
              </ul>
           </nav>
        </div>
    </div>
 </div>   


<div class="project-text">
  <div class="container">
         <div class="project-text__text">
             <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, <br>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum <br>dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
        </div>
  </div>

</div> 


<div class="project-images">
     <div class="container">
              <div class="project-images__list">
                  <div class="project-images__item">
                     <img src="/images/Layer-361.gif">
                  </div>
                  <div class="project-images__item">
                     <img src="/images/Layer-342.gif">
                  </div>
                  <div class="project-images__item">
                     <img src="/images/Layer-33-copy-25.gif">
                  </div>
              </div>

              <div class="project-images__list">
                 <div class="project-images__item">
                     <img src="/images/Layer-342.gif">
                  </div>
                 <div class="project-images__item">
                      <img src="/images/Layer-33-copy-25.gif">
                  </div>
                  <div class="project-images__item">
                     <img src="/images/Layer-361.gif">
                  </div>
                  
                  
              </div>


               <div class="project-images__list">
                  <div class="project-images__item">
                     <img src="/images/Layer-361.gif">
                  </div>
                  <div class="project-images__item">
                     <img src="/images/Layer-342.gif">
                  </div>
                  <div class="project-images__item">
                     <img src="/images/Layer-33-copy-25.gif">
                  </div>
              </div>
        </div>
    </div>

</body>

</html>
