<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="../favicon.ico">
    <title>{{ site_title }} - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
      <link rel="stylesheet" href="../css/styles.css">
      <!-- Base js library from drupal -->
      <script src="script/jquery.min.js"></script>
      <script src="script/drupal/jquery.once.js"></script>
      <script src="script/drupal/drupal.js"></script>
      <script src="script/drupal/picturefill.js"></script>
    {% endblock %}
  </head>
  <body>
    <div class="main">
      <div class="menu-top">
        <div class="container">
          <p><a href="#">Home</a> > <a href="#">Products</a> > <span><a href="#">Energy Efficient</a></span></p>
        </div>
      </div>
     <!--  End Menu-top -->
      <div class="main-text">
        <div class="container">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</p>
        </div>
      </div>
      <div class="grid-image">
        <div class="container">
          <div class="grid-image__wrap">
            <div class="grid-image__list">
              <div class="grid-image__item">
                <img src="../image/Layer-36.jpg" alt="">
                <h2>COMFORTPLUS</h2>
              </div>
              <div class="grid-image__item">
                <img src="../image/Layer-34.jpg" alt="">
                <h2>ENERGYTECH™ & SOLTECH™</h2>
              </div>
              <div class="grid-image__item">
                <div class="grid-image__special"><img src="../image/Layer-33.jpg" alt=""></div>

                <div class="grid-image__hover">
                  <h3>EVANTAGE™</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus aperiam saepe totam, non quas reprehenderit aspernatur, accusantium veniam reiciendis dolorem, eaque labore.</p>
                </div>
              </div>
            </div>
            <div class="grid-image__list">
              <div class="grid-image__item">
                <img src="../image/Layer-34.jpg" alt="">
                <h2>ENERGY ADVANTAGE<br>(LOW E CLEAR)</h2>
              </div>
              <div class="grid-image__item">
                <img src="../image/Layer-33.jpg" alt="">
                <h2>CLEAR LOW E<br>LAMINATED</h2>
              </div>
              <div class="grid-image__item">
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End grid-image -->


      <div class="grid-contact">
        <div class="grid-contact__wrap">
          <div class="container">
            <div class="grid-contact__content">
              <h2>JOIN OUR MAILING LIST</h2>
              <p>Complete the form below and we'll keep you up to date with our lastest news, projects and industry updates</p>
            </div>
            <div class="grid-contact__form">
              <div class="grid-contact__form__toprow">
                <input type="text" placeholder="NAME*">
                <input type="text" placeholder="EMAIL*">
              </div>

              <div class="grid-contact__form__bottomrow">
                <input type="submit" value="SEND">
              </div>      
            </div>
          </div>
        </div>
      </div>
      <!-- End contact -->

    </div>
  </body>
</html>
