<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="../favicon.ico">
    <title>{{ site_title }} - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
      <link rel="stylesheet" href="../css/styles.css">
      <!-- Base js library from drupal -->
      <script src="script/jquery.min.js"></script>
      <script src="script/drupal/jquery.once.js"></script>
      <script src="script/drupal/drupal.js"></script>
      <script src="script/drupal/picturefill.js"></script>
    {% endblock %}
  </head>
  <body>
    <!-- header -->
    <div class="header">
      <!-- menu bar -->
      <div class="header__top">
        <div class="container">
          <div class="menu-bar">
            <div class="logo">
              <img src="../images/Logo---White1.png" alt="logo header">
            </div>

            <div class="main-menu">
              <ul>
                <li><a href="#">PRODUCTS</a></li>
                <li><a href="#">PROJECTS</a></li>
                <li><a href="#">RESOURCES</a></li>
                <li><a href="#">CONTACT</a></li>
                <li><a href="#" class="lock">LOGIN</a></li>
                <li><a href="#" class="sosial fb"></a></li>
                <li><a href="#" class="sosial linked"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- banner -->
      <div class="header__banner">
        <div class="header__item">
          <div class="header__image">
            <img src="../images/banner1.jpg" alt="">
          </div>
          <h2 class="header__name">YOUR VISION DELIVERED</h2>
        </div>
        <div class="header__item">
          <div class="header__image">
            <img src="../images/banner2.jpg" alt="">
          </div>
          <!-- <h2 class="header__name">YOUR VISION DELIVERED</h2> -->
        </div>
      </div>

      <div class="direction-left"></div>
      <div class="direction-right"></div>
      <div class="direction-bottom"></div>
    </div>

    <div style="height: 1000px;"></div>


    {% block footer_scripts %}
      <script src="../js/lib/media.match.min.js"></script>
      <script src="../js/lib/enquire.min.js"></script>
      <script src="../js/script.js"></script>
    {% endblock %}
  </body>
</html>
